{% extends "email_base.html" %}

{% block styles%}

.img_container {
    position: relative;
    text-align: center;
    color: black;
  }

  
  /* Centered text */
.text_img_centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.my_button {
    border-radius: 10px;
}

.my_button a {
    padding: 8px 12px;
   
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    display: inline-block;  
}

{% endblock %}

{% block preheader%}
Take a moment to express your thanks... and we can help you do so!  ヽ( ⌒o⌒)人(⌒-⌒ )ﾉ 
{% endblock%}


{% block header%}
{% set p_style = "font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;" %}


A Small Thank You, A Big Reward <span style="font-size:15px;">(or something that ryhmes better)</span>
{% endblock %}
{% block content %}



<h3>{{greetings}} {{recipient_name}}</h3>


{%if gratitudeMessage %}
        <p> Be grateful today bla bla... We can help you... add a leaf, saying <span style="font-size: 16px; font-weight:bold">"{{gratitudeMessage}}"</span>, to the <span style="font-size:16px;"><a href="{{gratitudeTreeLink}}" target="_blank">gratitude tree</a></span> <p>

{% endif %}



            <table cellspacing="0" cellpadding="0" >
                <tr>
                    <td class="my_button" bgcolor="#ED2939" style="horizontal-align: center;">
                        <a  class="link" href="{{gratitudeTreeLink}}" target="_blank">
                            Add Leaf             
                        </a>
                    </td>
                </tr>
            </table>
 


    <img src="https://media.istockphoto.com/id/1173157613/photo/colorful-autimn-leaves-on-white-wooden-background.jpg?s=170667a&w=0&k=20&c=kwt4yQTLJPufVHcbPk3HXCY8CvuhUv7Fahv_UAthCfE=" alt="gratitude-leaf" style="width:100%;">
  
   
<!--<center><img src="https://media.istockphoto.com/id/1173157613/photo/colorful-autimn-leaves-on-white-wooden-background.jpg?s=170667a&w=0&k=20&c=kwt4yQTLJPufVHcbPk3HXCY8CvuhUv7Fahv_UAthCfE=" style="width:100%; max-height: 100%;" /></center>-->

{% endblock %}


{% block footer %}


<p>{{ender}}</p>
<p>{{signature}}</p>

{% endblock %}